:root {
    --main-font-family: 'Inconsolata';
    --shadow-color-1: #222222;
    --shadow-color-2: #292929;
}

body, html {
    margin: 0;
    color: azure;
    background-color: #2b2d2f;
    font-family: var(--main-font-family);
    overflow-x: hidden;
    max-width: 100%;
}

body {
    position: relative;
}

.content {
    margin: 0 auto;
    width: 800px;
}

.matchMenu {
    float: left;
    width: 360px;
    padding: 10px 10px;
    margin: 4px;
    background-color: #2f363b;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 6px 2px var(--shadow-color-1);
}

.header{
    float: left;
    width: 938px; 
    padding: 5px;
    margin: 4px;
    background-color: #2f363b;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.dateNode {
    margin: 0 auto;
    padding: 10px 10px;
    margin-right: 2px;
    background-color: #2f363b;
    border-radius: 10px;
    color: white;
}

.button {
    font-size: large;
    font-family: var(--main-font-family);
    font-weight: bold;
    padding: 4px 8px; 
    border: 0px solid #36454f; 
    background-color: #36454f; 
    color: white;
    border-radius: 10px;
    margin: 2px;
    box-shadow: 0 1px 6px 1px var(--shadow-color-2);
}

.resultColorSpan {
    background-color: white;
    margin-right: 2px;
    padding: 0px 4px; 
    border-radius: 5px;  
    vertical-align: middle;
}

.topButton {
    float: right;
    font-family: var(--main-font-family);
    margin: 3px;
    box-shadow: 0 2px 6px 2px var(--shadow-color-1);
}

.howDoIReadThisTab{
    top: 20%;
    left: 10%;
    width: 80%;
    position: absolute;
    background-color:rgb(89, 105, 110);
    border-radius: 20px;
    display: none;
    opacity: 0.95;
    padding: 20px;
    color: black;
    font-size: larger;
}

.darkBackground {
    height: 200%;
    width: 100%;
    position: absolute;
    background-color: black;
    display: none;
    opacity: 0.5;
}

.leagueButton {
    margin: 5px; 
    height: 25px;
    font-size: medium;
    font-family: var(--main-font-family);
    font-weight: bold;
    border-radius: 5px; 
    border: 0px solid #36454f; 
    background-color: #36454f; 
    color: white;
    box-shadow: 0 1px 6px 1px var(--shadow-color-2);
}

th, td {
    margin: 5px; 
    font-size: medium;
    border-radius: 5px; 
    border: 2px solid #36454f; 
    background-color: #36454f; 
    color: white;
    padding: 4px; 
    box-shadow: 0 1px 6px 1px var(--shadow-color-2);
}

.dateROI {
    margin-left: 10px;
}
